#ignore all image
*.jpg
*.yuv
*.bmp
###################################
###################################
#Directory
../tmp/
##################################
##################################
#binary files
camera
